/*** COMMON ***/
html ,body ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p , a {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.tox-notification {
  display: none !important;
}
.main {
  padding:5px;
}
a.nav-link {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.navbar-brand{
  margin-left:1rem;
}
.nav-admin{
  position: absolute;
  right:1em;
}
#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.extrait-div {
  border-left: solid 5px;
  padding: 5px;
  border-width: medium;
}
#login {
  display: flex;
  justify-content: center;
  text-align: center;
}
#e404 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contents{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 2px;
}
input.form-control {
  margin-bottom: 5px;
}
@media (max-width: 992px) { 
  .nav-admin {
    position: inherit;
  }
  .table-responsive-xl thead {
    display: none;
  }
  .table-responsive-xl tr{
    display: block;
    margin-bottom: 40px;
  }
  .table-responsive-xl td {
    display: block;
    text-align: left;
  }
  .table-responsive-xl td:before {
    content: attr(data-label);
    float: right;
    font-weight: bold;
  }
  .homepage {
    display: block;
  }
  .extrait-div {
    border: none;
  }
}