html ,body ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p , a {
    font-family:"robotolight", sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
header {
    background-color: darkslateblue;
    height: 100px;
    text-align: center;
}
header a:link {
    color: darkblue;
    text-decoration: none;
}
header a:visited {
    color: darkblue;
    text-decoration: none;
}
#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
#blog{
    margin-top: 20px;
}
.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.extrait-div {
    border : 5px;
    padding: 5px;
    border-width: medium;
    border: solid;
    border-radius: 10px;
}
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 5px;
  }
  table.blueTable tbody td {
    font-size: 14px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #6188A4;
    background: -moz-linear-gradient(top, #88a6bb 0%, #7094ad 66%, #6188A4 100%);
    background: -webkit-linear-gradient(top, #88a6bb 0%, #7094ad 66%, #6188A4 100%);
    background: linear-gradient(to bottom, #88a6bb 0%, #7094ad 66%, #6188A4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }